<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon"
    (click)="drawer.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>EmployeeDash</span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>
<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side" opened>

    <h2>Navigation</h2>
    <ul>
      <li><a routerLink="/dashboard"><mat-icon>home</mat-icon> Dashboard</a></li>
      <li><a routerLink="/employee-sign-up"><mat-icon>playlist_add_circle</mat-icon> Employee Onboarding</a></li>
      <li><a routerLink="/employee-list"><mat-icon>view_list</mat-icon> Employee Data Table</a></li>
    </ul>

  </mat-drawer>
  <mat-drawer-content class="example-drawer-content"> <router-outlet></router-outlet></mat-drawer-content>




</mat-drawer-container>